@model Shoepify.Web.Models.Shoes.ShoesAllCollectionViewModel

@inject ICategoriesService categoriesService;
@inject ISizesService sizesService;
@inject IColorsService colorsService;
@{
    ViewData["Title"] = "All Shoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = await this.categoriesService.GetAllAsync();
    var colors = await this.colorsService.GetAllAsync();
}

<main class="container cart-container">
    <h1 class="text-center">@this.ViewData["Title"]</h1>

    <div class="row">
        <div class="col-2 aside">
            <div class="mr-3 p-3 text-white cart">
                <vc:cart />
            </div>
            <div class="mr-3 p-3 filter-form">
                <form method="get" asp-route="/Shoes/All" class="mt-2" id="filter">
                    <input name="name" class="form-control" placeholder="Search" autocomplete="off" id="name-field" />
                    <select class="form-control" name="gender">
                        <option disabled selected class="dropdown-select">Select Gender</option>
                        @foreach (var g in Html.GetEnumSelectList<Gender>())
                        {
                            <option value="@g.Text">@g.Text</option>
                        }
                    </select>
                    <select class="form-control" name=category>
                        <option disabled selected class="dropdown-select">Select Category</option>
                        @foreach (var c in categories)
                        {
                            <option value="@c.Name">@c.Name</option>
                        }
                    </select>
                    @foreach (var c in colors)
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="color" value="@c.Name" style="background-color:@c.Name">
                        </div>
                    }
                    <button type="submit" class="w-100">Filter</button>
                </form>
            </div>
        </div>

        <div class="col">
            @if(Model.Shoes?.Count > 0)
            {
                <ul class="shoes-list">
                    @foreach (var shoe in Model.Shoes)
                    {
                        <li class="shoe text-center">
                            <span class="media">
                                <a asp-area="" asp-controller="Shoes" asp-action="Details" asp-route-id="@shoe.Id">
                                    <span class="shoe-image">
                                        <img src="@shoe.ImageURL" alt="@shoe.Model">
                                    </span>
                                </a>
                            </span>
                            <hr />
                            <span class="shoe-info">
                                <span class="shoe-brand">@shoe.Brand</span>
                                <span class="shoe-model">@shoe.Model</span>
                                <span class="shoe-colors">@shoe.Colors @(shoe.Colors == 1 ? "color" : "colors")</span>
                                <span class="shoe-price">@shoe.Price lv.</span>
                            </span>
                        </li>
                    }
                </ul>
            }
            else
            {
                <h3 class="display-6 mt-5">No shoes on stock right now.</h3>
            }
        </div>
    </div>
</main>