@model Shoepify.Web.Models.Shoes.ShoesAllCollectionViewModel

@{
    ViewData["Title"] = "All Shoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container cart-container">
    <h1 class="text-center">@this.ViewData["Title"]</h1>

    <div class="row">
        <div class="col-2 cart">
            <div class="mr-3 p-3 text-white">
                <vc:cart />
            </div>
        </div>

        <div class="col">
            <ul class="shoes-list">
                @foreach (var shoe in Model.Shoes)
                {
                    <li class="shoe text-center">
                        <span class="media">
                            <a asp-area="" asp-controller="Shoes" asp-action="Details" asp-route-id="@shoe.Id">
                                <span class="shoe-image">
                                    <img src="@shoe.ImageURL" alt="@shoe.Model">
                                </span>
                            </a>
                        </span>
                        <hr />
                        <span class="shoe-info">
                            <span class="shoe-brand">@shoe.Brand</span>
                            <span class="shoe-model">@shoe.Model</span>
                            <span class="shoe-colors">@shoe.Colors @(shoe.Colors == 1 ? "color" : "colors")</span>
                            <span class="shoe-price">$@shoe.Price</span>
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>