@model Shoepify.Web.Models.Shoes.ShoeDetailsViewModel

@{
    ViewData["Title"] = "Shoe Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-3 container shoe-details-page">
    <div class="shoe-details">
        <section class="data">
            <h2 class="text-center">@Model.Brand @Model.Model</h2>
            <div>
                <p>@Model.Gender</p>
                <p>@Model.Category</p>
            </div>
            <p class="description">@Model.Description</p>
            <p class="price">@Model.Price lv.</p>
            <h3>Sizes (EU)</h3>
            <div class="sizes">
                @foreach (var size in Model.Sizes)
                {
                    <span>@size</span>
                }
            </div>
            <h3>Colors</h3>
            <div class="colors">
                @foreach (var color in Model.Colors)
                {
                    <span style="background-color: #@color;"></span>
                }
            </div>
            <div class="actions">
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">Add to cart</a>
                @if (this.User.IsInRole("Admin"))
                {
                    <a class="btn btn-danger" onclick="showModal()">Delete Shoe</a>
                }
            </div>
        </section>
        <section class="image">
            <img src="@Model.ImageURL" />
        </section>
    </div>

    <vc:modal brand="@Model.Brand" model="@Model.Model" shoe-id="@Model.Id" />
</main>